input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.main {
    width: 100%;
    max-width: 450px;
}

.input-form {
    display: block;
    width: 100%;
}

.select2 {
    width: 100%;
    margin-top: 3px;
}

.currency-input{
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .select2{
        display: block;
        width: 100%;
    }
    
}



@media (max-width: 320px) {
    .currency-input{
        width: 90px;
    }
    
}

















/* @media (min-width: 375px) {
    .input-form {
        width: 100%;
    }

    .select2 {
        display: block;
        width: 100%;
        margin-top: 3px;
    }
} */

/* @media (min-width: 425px) {
    .input-form {
        width: 400px;
    }

    .select2 {
        display: block;
        width: 100%;
        margin-top: 3px;
    }
}

@media (min-width: 768px) {
    .input-form {}

    .select2 {
        display: block;
        width: 100%;
        margin-top: 3px;
    }
} */